extends layout

block content
  div.container
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    h4.white|Unit N_64
    ul.navbar-nav.ml-auto
  .main.container
    .row
      .col-md-12.col-md-offset-3
        hr
        form(name='loginForm' enctype='multipart/form-data')
          input.form-control(type='text', name='login' placeholder='Type Login')
          input.form-control(type='email', name='email' placeholder='Type Email')
          br
          button.btn-info.btn-block(type='submit') |> Sign in